<main class="justify-center w-full text-center align-center">

    <h1 class="flex items-center justify-center my-4 text-lg font-bold text-center md:text-2xl text-[#722F37]"> {{brandName}} - {{wineArray.Wine.wine_name}} - {{vintageTransactions.[0].vintage}} </h1>

    <p class="flex items-center justify-center my-4 text-lg font-semibold text-center md:text-2xl text-zinc-900">
        <span class="font-bold text-[#722F37]">{{transactions.[0].vintage_total}}</span> &nbsp;in stock
    </p>

    <h2 class="flex items-center justify-center my-4 text-lg font-semibold text-center md:text-2xl text-zinc-900" >
        <span class="text-[#722F37]">Transaction History</span>
    </h2>

{{!-- Transaction History Table --}}
    <table id="trans-table" class="justify-center w-4/5 p-1 m-auto text-center border-2 table-auto rounded-3xl" >
        <thead>
            <tr>
                <th><u>Date</u></th>
                <th><u>Unit Cost</u></th>
                <th><u>Qty In</u></th>
                <th><u>Qty Out</u></th>
                <th><u>Notes</u></th>
                <th><u>Update</u></th>
                <th><u>Delete</u></th>
                {{!-- <th><u>Trans ID</u></th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each vintageTransactions as |vintage|}}
            Test
                {{#each transactions}}
                <tr>                
                    <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{format_date transaction_date}}</th>
                    
                    {{#if cost}} 
                        <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{format_currency cost}}</th>
                    {{else}} 
                        <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{cost}}</th>                
                    {{/if}}
                    
                    <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{qty_in}}</th>
                    <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{qty_out}}</th>
                    <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{notes}}</th>                
                    <th>
                        <button data-index = "{{transaction_id}}" class="transition-transform duration-200 ease-in-out edit fa-regular fa-pen-to-square hover:scale-110 update"></a>  
                    </th>
                    <th>
                        <button data-index = "{{transaction_id}}" class="text-red-600 transition-transform duration-200 ease-in-out fa-regular fa-circle-xmark hover:scale-110 inactivate"></a>  
                    </th>
                    {{!-- <th class="font-normal">{{transaction_id}}</th>  --}}
                </tr>
                {{/each}}
            {{/each}}
        </tbody>        
    </table>    

{{!-- Add Tranasction Button --}}
<button id="add-button" class= "px-4 py-2 my-5 font-bold text-white duration-200 ease-in-out bg-blue-500 border rounded-xl hover:bg-blue-700" type="submit" value="Add"> Add Transaction </button>

{{!-- Add Transaction Modal Form --}}
    <div id="new-transaction-modal" class="modal">
        <form id="new-transaction-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">    
            <h2 id="post-heading" class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Add Transaction</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0 md:w-2/5">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="transaction_date"> Date </label>
                    <input class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" id="transaction_date" type="date" placeholder="MM/DD/YYYY" required>
                </div>
                <div class="w-1/3 px-1 md:w-1/4">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="cost"> Unit Cost ($) </label>
                    <input class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" id="cost" type="number" step="0.01">
                    <p class="text-xs italic text-red-500">Numbers only</p>
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="qty_in"> Qty In</label>
                    <input class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" id="qty_in" type="text">
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="qty_out"> Qty Out</label>
                    <input class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" id="qty_out" type="text">
                </div>
            </div>
            <div class="flex flex-wrap mx-1 mb-2">
                <div class="w-full px-1 md:w-full">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="notes">Notes</label>
                <textarea class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" id="notes" type="text" placeholder="Retailer, Tastings Notes ..." rows="2" cols="30"></textarea>
                </div>
            </div>
            <div class="flex flex-wrap mx-1">
                <div class="w-full px-1 md:w-full">
                    {{!-- Hidden IDs to support PUT and POST --}}
                    <input type="hidden" name="vintage_id" id="vintage_id" value="{{vintageTransactions.[0].vintage_id}}" "readonly"/>                    
                </div> 
            </div>
            {{!-- submit button --}}
            <button id="submitAdd" class="px-4 py-2 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Submit </button>
            {{!-- cancel button --}}
            <button id="cancelAdd" class="px-4 py-2 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
        </form>
    </div>   

{{!-- Update Transaction Modal Form --}}
    <div id="update-transaction-modal" class="modal">
        <form id="update-transaction-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">    
            <h2 id="put-heading" class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Update Transaction</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0 md:w-2/5">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="transaction_date"> Date </label>
                    <input id="updateDateInput" class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" type="date" placeholder="MM/DD/YYYY" required>
                </div>
                <div class="w-1/3 px-1 md:w-1/4">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="cost"> Unit Cost ($) </label>
                    <input id="updateCostInput" class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" type="number" step="0.01">
                    <p class="text-xs italic text-red-500">Numbers only</p>
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="qty_in"> Qty In</label>
                    <input id="updateQtyInInput" class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" type="text">
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="qty_out"> Qty Out</label>
                    <input id="updateQtyOutInput" class="block w-full px-4 py-3 mb-0 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" type="text">
                </div>
            </div>
            <div class="flex flex-wrap mx-1 mb-2">
                <div class="w-full px-1 md:w-full">
                <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="notes">Notes</label>
                <textarea id="updateNotesInput" class="block w-full px-4 py-3 mb-3 leading-tight text-gray-700 bg-gray-200 border border-gray-200 rounded appearance-none focus:outline-none focus:bg-white focus:border-rose-800" type="text" placeholder="Retailer, Tastings Notes ..." rows="2" cols="30"></textarea>
                </div>
            </div>
            <div class="flex flex-wrap mx-1">
                <div class="w-full px-1 md:w-full">
                    {{!-- Hidden IDs to support PUT and POST --}}                    
                    <input id="updateTransIdInput" type="hidden" name="transaction_id" id="transaction_id" value="" "readonly"/> 
                    <input id="updateVintageIdInput" type="hidden" name="vintage_id" value="{{vintageTransactions.[0].vintage_id}}" "readonly"/>     
                </div> 
            </div>
            {{!-- submit button --}}
            <button class="px-4 py-2 font-bold text-white duration-200 ease-in-out bg-blue-500 border rounded-xl hover:bg-blue-700" type="submit" value="submit"> Submit </button>
            {{!-- cancel button --}}
            <button id="cancelUpdate" class="px-4 py-2 font-bold text-white duration-200 ease-in-out bg-blue-500 border rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
        </form>
    </div>   
</main>

<script src="/js/transaction.js"></script>
