<main class="justify-center w-full text-center align-center">

    <h1 class="flex items-center justify-center my-4 text-xl font-extrabold text-center md:text-3xl text-[#722F37]"> {{brandName}} - {{wineArray.Wine.wine_name}} - {{vintageTransactions.[0].vintage}} </h1>


    <h2 class="flex items-center justify-center my-4 text-lg font-bold text-center md:text-2xl text-zinc-900" >
        <span class="text-[#722F37]">Transaction History</span>
    </h2>

    <h3 class="flex items-center justify-center my-4 text-lg font-bold text-center md:text-2xl text-zinc-900">
        Current stock:&nbsp; <span class="font-bold text-[#722F37]">{{vintageTransactions.[0].vintage_total}}</span>
    </h3>

{{!-- Transaction History Table --}}
    <table id="trans-table" class="w-full table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2 text-xs font-medium "><u>Date</u></th>
                <th class="px-4 py-2 text-xs font-medium "><u>Unit Cost</u></th>
                <th class="px-4 py-2 text-xs font-medium "><u>Qty In</u></th>
                <th class="px-4 py-2 text-xs font-medium "><u>Qty Out</u></th>
                <th class="px-4 py-2 text-xs font-medium "><u>Notes</u></th>
                <th class="px-4 py-2 text-xs font-medium "><u>Update</u></th>
                <th class="px-4 py-2 text-xs font-medium "><u>Delete</u></th>
                {{!-- <th><u>Active Ind</u></th> --}}
                {{!-- <th><u>Trans ID</u></th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each vintageTransactions as |vintage|}}
                {{#each transactions}}
                <tr>                
                    <th class="text-xs md:text-sm xl:text-base">{{format_date transaction_date}}</th>
                    
                    {{#if cost}} 
                        <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{format_currency cost}}</th>
                    {{else}} 
                        <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{cost}}</th>                
                    {{/if}}
                    
                    <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{qty_in}}</th>
                    <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{qty_out}}</th>
                    <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{notes}}</th>                
                    <th>
                        <button data-index = "{{transaction_id}}" class="transition-transform duration-200 ease-in-out update-transaction edit fa-regular fa-pen-to-square hover:scale-110 "></a>  
                    </th>
                    <th>
                        <button data-index = "{{transaction_id}}" class="text-red-600 transition-transform duration-200 ease-in-out inactivate-transaction fa-regular fa-circle-xmark hover:scale-110 "></a>  
                    </th>
                    {{!-- <th class="font-normal">{{active_ind}}</th>  --}}
                    {{!-- <th class="font-normal">{{transaction_id}}</th>  --}}
                </tr>
                {{/each}}
            {{/each}}
        </tbody>        
    </table>   

{{!-- Add Tranasction Button --}}
<button id="add-Transaction-button" class= "w-full px-4 py-2 my-5 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700 md:w-auto" type="submit" value="Add"> Add Transaction </button>

{{!-- Add Transaction Modal Form --}}
    <div id="add-transaction-modal" class="modal">
        <form id="add-transaction-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">
            <span id="add-transaction-close-button" class="close">&times;</span>    
            <h2 id="post-heading" class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Add Transaction</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0 md:w-2/5">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-800" for="transaction_date"> Date </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="transaction_date" type="date" placeholder="MM/DD/YYYY" required>
                </div>
                <div class="w-1/3 px-1 md:w-1/4">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-800" for="cost"> Unit Cost ($) </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="cost" type="number" step="0.01">
                    <p class="mt-2 mb-4 text-xs text-red-500 uppercase">Numbers only</p>
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-800" for="qty_in"> Qty In</label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="qty_in" type="text">
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-800" for="qty_out"> Qty Out</label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="qty_out" type="text">
                </div>
            </div>
            <div class="flex flex-wrap mx-1 mb-4">
                <div class="w-full px-1 md:w-full">
                <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-800" for="notes">Notes</label>
                <textarea class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="notes" type="text" placeholder="Retailer, Tastings Notes ..." rows="2" cols="30"></textarea>
                </div>
            </div>
            <div class="flex flex-wrap mx-1">
                <div class="w-full px-1 md:w-full">
                    {{!-- Hidden IDs to support PUT and POST --}}
                    <input type="hidden" name="vintage_id" id="vintage_id" value="{{vintageTransactions.[0].vintage_id}}" "readonly"/>                    
                </div> 
            </div>
            {{!-- submit button --}}
            <button id="submitAdd" class="px-4 py-2 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Submit </button>
            {{!-- cancel button --}}
            <button id="add-transaction-cancel-button" class="px-4 py-2 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
        </form>
    </div>   

{{!-- Update Transaction Modal Form --}}
    <div id="update-transaction-modal" class="modal">        
        <form id="update-transaction-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">    
            <span id="update-transaction-close-button" class="close">&times;</span>
            <h2 id="put-heading" class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Update Transaction</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0 md:w-2/5">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-800" for="transaction_date"> Date </label>
                    <input id="updateDateInput" class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" type="date" placeholder="MM/DD/YYYY" required>
                </div>
                <div class="w-1/3 px-1 md:w-1/4">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-700" for="cost"> Unit Cost ($) </label>
                    <input id="updateCostInput" class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" type="number" step="0.01">
                    <p class="text-xs text-red-500 uppercase">Numbers only</p>
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-700" for="qty_in"> Qty In</label>
                    <input id="updateQtyInInput" class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" type="text">
                </div>
                <div class="w-1/3 px-1 md:w-1/6">
                    <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-700" for="qty_out"> Qty Out</label>
                    <input id="updateQtyOutInput" class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" type="text">
                </div>
            </div>
            <div class="flex flex-wrap mx-1 mb-4">
                <div class="w-full px-1 md:w-full">
                <label class="block mb-2 text-xs font-bold tracking-wide uppercase text-zinc-700" for="notes">Notes</label>
                <textarea id="updateNotesInput" class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" type="text" placeholder="Retailer, Tastings Notes ..." rows="2" cols="30"></textarea>
                </div>
            </div>
            <div class="flex flex-wrap mx-1">
                <div class="w-full px-1 md:w-full">
                    {{!-- Hidden IDs to support PUT and POST --}}                    
                    <input id="updateTransIdInput" type="hidden" name="transaction_id" id="transaction_id" value="" "readonly"/> 
                    <input id="updateVintageIdInput" type="hidden" name="vintage_id" value="{{vintageTransactions.[0].vintage_id}}" "readonly"/>     
                </div> 
            </div>
            {{!-- submit button --}}
            <button class="px-4 py-2 font-bold text-white duration-200 ease-in-out bg-blue-500 border rounded-xl hover:bg-blue-700" type="submit" value="submit"> Save Changes </button>
            {{!-- cancel button --}}
            <button id="update-transaction-cancel-button" class="px-4 py-2 font-bold text-white duration-200 ease-in-out bg-blue-500 border rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
        </form>
    </div>   
</main>

<script src="/js/transaction.js"></script>
