<main class="justify-center w-full text-center">

    <h1 class="flex items-center justify-center my-4 text-xl font-extrabold text-center md:text-3xl text-[#722F37]">  {{brand.[0].brand_name}} </h1>
    
    <h2 class="flex items-center justify-center my-4 text-lg font-bold text-center md:text-2xl text-[#722F37]">Wines and Vintages </h2>

    <h3 class="flex items-center justify-center my-4 text-lg font-bold text-center md:text-2xl text-zinc-900"> Select a vintage to view Transactions &nbsp; </h3>

{{!-------------------------}}
{{!-- Wine/Vintage Tables --}}
{{!-------------------------}}

    <ul id="table-container" class="p-0 mt-3 text-center ">
        {{#each wines as |wine|}}
            <div class="justify-center w-4/5 mx-auto my-4 text-right rounded-md align-center ">

                <div class="flex justify-center space-x-2 item-center">
                    <div class="items-center justify-center text-lg font-bold text-center md:text-2xl text-[#722F37] inline-flex">{{wine_name}}</div>                  

                    {{!-- <div class = "justify-start">
                        <button class="p-1 text-red-600 inactivate fa-regular fa-circle-xmark" data-index = "{{wine_id}}" > </button>
                    </div>  --}}
                        <button class="transition-transform duration-200 ease-in-out update-wine-button fa-regular fa-pen-to-square hover:scale-110" data-index="{{wine_id}}"></button>
                </div>
                <table class="my-2 justify-center w-3/4 text-center border-2 border-[#722F37] rounded-md table-auto mx-auto" >
                    <thead>
                        <tr class="text-sm">
                            <th><u>Vintage</u></th>
                            <th><u>Format</u></th>
                            <th><u>Drink By</u></th>
                            <th><u>Stock</u></th>
                            <th><u>Update</u></th>
                            {{!-- <th><u>active_id</u></th>
                            <th><u>Vintage ID</u></th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each vintages}}
                        <tr>                
                            <th class="p-2 text-xs xl:text-base md:text-sm sm:text-xs "><a href="/transaction/{{vintage_id}}" class="px-6 py-1 my-5 font-bold duration-200 ease-in bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700">{{vintage}}</a></th>                            
                            <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{format}}</th>               
                            <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{drink_by}}</th>                            
                            <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{vintage_total}}</th>                     
                            <th>
                                <button data-index = "{{vintage_id}}" class="update-vintage-button transition-transform duration-200 ease-in-out  fa-regular fa-pen-to-square hover:scale-110"></a>  
                            </th>
                            {{!-- <th class="text-xs font-normal xl:text-base md:text-sm sm:text-xs">{{active_ind}}</th>
                            <th class="p-2 text-xs xl:text-base md:text-sm sm:text-xs">{{vintage_id}}</th> --}}
                        </tr>
                        {{/each}} 
                        <th class="p-2 text-xs xl:text-base md:text-sm sm:text-xs"> <button class="inline-flex px-6 py-2 my-1 font-bold text-white duration-200 ease-in-out bg-blue-500 add-vintage-button rounded-xl hover:bg-blue-700" data-index="{{wine_id}}" >Add Vintage</button> </th>                      </tbody>        
                </table>                                 
            </div>
        {{/each}}        
        <button id="add-wine-open-modal" class="px-6 py-2 my-1 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700">Add Wine</button>
    </ul>

{{!-----------------}}
{{!-- Wine Modals --}}
{{!-----------------}}

{{!-------------------------}}
{{!-- Add Wine Modal Form --}}
{{!-------------------------}}
    <div id="add-wine-modal" class="modal">
        <form id="add-wine-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">
            <span id="add-wine-close-button" class="close">&times;</span>    
            <h2 class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Add Your Wine</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="add-wine-name"> Wine Name </label>
                    <input class="w-full px-4 py-3 mb-0 leading-tight duration-200 ease-in-out bg-gray-200 border border-gray-200 appearance-none rounded-xl text-zinc-900 hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="add-wine-name" type="text" required placeholder="Enter wine name">
                </div>
            </div>
            {{!-- Hidden IDs to support PUT and POST --}}        
            <div class="flex flex-wrap mx-1">
                <div class="w-full px-1 md:w-full">
                    <input type="hidden" name="brand_id" id="add-wine-brand-id" value="{{brand.0.brand_id}}" "readonly"/>                    
                </div> 
            </div>
            
            {{!-- submit button --}}
            <button id="add-wine-submit-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Submit </button>
            {{!-- cancel button --}}
            <button id="add-wine-cancel-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
        </form>
    </div> 

{{!----------------------------}}
{{!-- Update Wine Modal Form --}}
{{!----------------------------}}
    <div id="update-wine-modal" class="modal">
        <form id="update-wine-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">
            <span id="update-wine-close-button" class="close">&times;</span>        
            <h2 class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Update Wine</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-0">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="update-wine-name"> Wine Name </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="update-wine-name" type="text" required placeholder="Enter wine name...">
                </div>
            </div>
            {{!-- Hidden IDs to support PUT and POST --}}        
            <div class="flex flex-wrap mx-1">            
                <div class="w-full px-1 md:w-full">
                    <input type="hidden" name="brand_id" id="update-wine-brand-id" value="" "readonly"/>                    
                </div>
                <div class="w-full px-1 md:w-full">
                    <input type="hidden" name="wine_id" id="update-wine-wine-id" value="" "readonly"/>  
                </div> 
            </div>            
            <button id="update-wine-submit-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Save Changes </button>
            <button id="update-wine-cancel-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
            <button id="update-wine-delete-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-red-500 text-zinc-100 rounded-xl hover:bg-red-700" type="button" value="button"> Delete Wine </button>
        </form>
    </div> 

{{!---------------------------}}
{{!-- Inactivate Wine Modal --}}
{{!---------------------------}}

    <div id="inactivate-wine-modal" class="modal">
        <div class="modal-content">
            <span id="inactivate-wine-close-button" class="close">&times;</span>
            <h1 class = "text-2xl"> ⚠️🚨 Are you sure?🚨⚠️ </h1>
            <h2 id="inactivate-wine-heading" class = "m-2 text-2xl text-[#722F37]">Dyanmically Updated</h2>        
            <p class="flex items-center justify-center m-2 text-center">Deleting a Wine will also delete its Vintages and Transactions</p>
            <p class="flex items-center justify-center m-2 text-center">This cannot be undone</p>
            <div class="mt-4 space-y-4">        
                <button id="inactivate-wine-confirm-button" class="flex items-center justify-center mx-auto duration-200 ease-in-out btn-danger rounded-xl">Confirm Delete</button>
                <button id="inactivate-wine-cancel-button" class="flex items-center justify-center mx-auto duration-200 ease-in-out btn-secondary rounded-xl">Cancel</button>
            </div>
        </div>
    </div>

{{!--------------------}}
{{!-- Vintage Modals --}}
{{!--------------------}}

{{!----------------------------}}
{{!-- Add Vintage Modal Form --}}
{{!----------------------------}}

    <div id="add-vintage-modal" class="modal">
        <form id="add-vintage-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">
            <span id="add-vintage-close-button" class="close">&times;</span>            
            <h2 class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Add Vintage</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-1 md:w-1/3">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="add-vintage-vintage"> Vintage </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" value="2023" id="add-vintage-vintage" type="number" required>
                </div>                
                {{!-- Format Dropdown --}}
                
                <div class="w-full px-1 md:w-1/3">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="add-vintage-format"> Format </label>
                    <div class="relative">
                        <select class="block w-full px-4 py-3 leading-tight bg-gray-200 border border-transparent appearance-none text-zinc-800 rounded-xl focus:outline-none focus:border-zinc-500 hover:border-zinc-500" id="add-vintage-format" required>
                            <option>750 mL</option>
                            <option>1500 mL</option>
                            <option>3 L</option>
                            <option>6 L</option>
                        </select>
                        <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
                <div class="w-full px-1 md:w-1/3">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="add-vintage-drink-by"> Drink By </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="add-vintage-drink-by" type="number">
                </div>
            </div>
            {{!-- Hidden IDs to support PUT and POST --}}        
            <div class="flex flex-wrap mx-1">
                <div class="w-full px-1 md:w-full">
                    <input type="hidden" name="wine_id" id="add-vintage-wine-id" value="" "readonly"/>                    
                </div> 
            </div>
            <button id="add-vintage-submit-button" class="px-4 py-2 my-3 font-bold text-white duration-200 ease-in-out bg-blue-500 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Submit </button>
            <button id="add-vintage-cancel-button" class="px-4 py-2 my-3 font-bold text-white duration-200 ease-in-out bg-blue-500 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
        </form>
    </div> 

{{!-------------------------------}}
{{!-- Update Vintage Modal Form --}}
{{!-------------------------------}}

    <div id="update-vintage-modal" class="modal">
        <form id="update-vintage-form" class="w-full p-1 m-auto my-5 bg-orange-300 border-2 rounded-3xl modal-content">
            <span id="update-vintage-close-button" class="close">&times;</span>         
            <h2 class="block uppercase text-lg font-semibold md:text-2xl text-[#722F37] mt-5"> Update Vintage</h2>    
            <div class="flex flex-wrap mx-1 my-2">
                <div class="w-full px-1 md:w-1/3">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="update-vintage-vintage"> Vintage </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="update-vintage-vintage" type="number" required>
                </div>                
                {{!-- Format Dropdown --}}
                
                <div class="w-full px-1 md:w-1/3">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="update-vintage-format"> Format </label>
                    <div class="relative">
                        <select class="block w-full px-4 py-3 leading-tight bg-gray-200 border border-transparent appearance-none text-zinc-800 rounded-xl focus:outline-none focus:border-zinc-500 hover:border-zinc-500" id="update-vintage-format" required>
                            <option>750 mL</option>
                            <option>1500 mL</option>
                            <option>3 L</option>
                            <option>6 L</option>
                        </select>
                        <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>
                </div>
                <div class="w-full px-1 md:w-1/3">
                    <label class="block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase" for="update-vintage-drink-by"> Drink By </label>
                    <input class="w-full px-3 py-2 transition duration-300 ease-in-out border border-transparent rounded-xl hover:border-zinc-500 focus:outline-none focus:border-zinc-500" id="update-vintage-drink-by" type="number">
                </div>
            </div>
            {{!-- Hidden IDs to support PUT and POST --}}        
            <div class="flex flex-wrap mx-1">
                <div class="w-full px-1 md:w-full">
                    <input type="hidden" name="wine_id" id="update-vintage-vintage-id" value="" "readonly"/>                    
                </div> 
            </div>
            <button id="update-vintage-submit-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="submit" value="submit"> Save Changes </button>
            <button id="update-vintage-cancel-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-blue-500 text-zinc-100 rounded-xl hover:bg-blue-700" type="button" value="cancel"> Cancel </button>
            <button id="update-vintage-delete-button" class="px-4 py-2 my-3 font-bold duration-200 ease-in-out bg-red-500 text-zinc-100 rounded-xl hover:bg-red-700" type="button" value="button"> Delete Vintage </button>
        </form>
    </div> 

{{!------------------------------}}
{{!-- Inactivate Vintage Modal --}}
{{!------------------------------}}

    <div id="inactivate-vintage-modal" class="modal">
        <div class="modal-content">
            <span id="inactivate-vintage-close-button" class="close">&times;</span>
            <h1 class = "text-2xl"> ⚠️🚨 Are you sure?🚨⚠️ </h1>
            <h2 id="inactivate-vintage-heading-one" class = "m-2 text-xl text-[#722F37]">Dynamically updated</h2>        
            <h3 id="inactivate-vintage-heading-two" class = "m-2 text-xl text-[#722F37]">Dynamically updated</h3>
            <h4 id="inactivate-vintage-heading-three" class = "m-2 text-xl text-[#722F37]">Dynamically updated</h4>          
            <p class="flex items-center justify-center m-2 text-center">Deleting a Vintage will also delete Transactions</p>
            <p class="flex items-center justify-center m-2 text-center">This cannot be undone</p>

            <div class="mt-4 space-y-4">        
                <button id="inactivate-vintage-confirm-button" class="flex items-center justify-center mx-auto duration-200 ease-in-out btn-danger rounded-xl">Confirm Delete</button>
                <button id="inactivate-vintage-cancel-button" class="flex items-center justify-center mx-auto duration-200 ease-in-out btn-secondary rounded-xl">Cancel</button>
            </div>
        </div>
    </div>

</main>

<script src="/js/wine.js"></script>
